.favorite-form {
    position: absolute;
    top: 20vh;
    right: 25px;
}

.before-save {
    border: 2px solid lightgray;
    border-radius: 4px;
    height: 50px;
    width: 15vw;
    background-color: white;
    color: black;
}

.save-text-line, .unsave-text-line {
    margin-bottom: 5px;
}

.empty-icon {
    zoom: 2;
    padding-right: 3px;
    margin-bottom: -5px;
}

.after-save {
    border: 2px solid lightgray;
    border-radius: 4px;
    height: 50px;
    width: 15vw;
    background-color: white;
    color: black;
}

.before-save:hover, .after-save:hover {
    border: 2px solid #da3743;
}

.filled-icon {
    zoom: 2;
    padding-right: 3px;
    margin-bottom: -5px;
    color: #da3743;
}


