
.sav-photo-main-index {
    object-fit: cover;
    width: 10%;
    height: 57.5%;
    // padding-left: 3%;
    // padding-right: 4%;
    // padding-top: 2%;
    // padding-bottom: 3%;
    margin-left: 3%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 5px;
}

.sav-index-body {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: lightgray;
    // border-radius: 5px;
    // margin-bottom: 2%;
    transition: .5s;
    max-width: 100%;
    height: 158px;
}

.sav-content {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
}

.remove {
    display: flex;
    margin-left: -2.5px;
}

.sav-icon {
    zoom: 1.25;
    padding-top: 1%;
    color: #da3743;
}

.sav-item-name {
    display: block;
    font-size: 1em;
    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    // margin-left: 1%;
    // margin-right: 3%;
   font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray; 
    left: 3%;
}

.sav-delete {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    // margin-left: 3%;
    // margin-right: 3%;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray; 
    padding-top: 3%;
    font-size: 14px;
    font-weight: 250;
    padding-bottom: 4%;
    cursor: pointer;
}

.sav-delete:hover {
    color: #da3743;
}

.sav-rate {
    color: yellow;
}

// .sav-rate {
//     display: block;
//     margin-inline-start: 0px;
//     margin-inline-end: 0px;
//     // margin-left: 3%;
//     // margin-right: 3%;
//     font-family: Arial, Helvetica, sans-serif;
//     color: darkslategray; 
//     // padding-top: 3%;
//     font-size: 14px;
//     // padding-bottom: 4%;
// }


.sav-address {
    display: block;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    // margin-left: 3%;
    // margin-right: 3%;
    width: 285px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray; 
    padding-top: 1%;
    font-size: 14px;
    // padding-bottom: 4%;

}

.sav-reserve-button {
    border: solid 1px;
    border-radius: 4px;
    height: 50px;
    width: 8vw;
    margin-right: 70px;
    margin-left: 5px;
    background-color: #da3743;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.sav-reserve-button:hover {
    background-color: #b8222d;
}

.sav-res-button-position {
    // padding-left: 100%;
    margin-left: 38%;
    padding-top: 5%;
}
