.signup-button {
    background-color: #247f9e;
    height: 35px;
    width: 80px; 
    border-radius: 5px; 
    margin: 5px 5px 5px 5px;
    border: solid 1px lightgray;
    color: whitesmoke;
    cursor: pointer;
}

// .signup-link {
//    color: whitesmoke;
//    text-decoration: none;
// }

.signin-button {
   background-color: transparent;
   height: 35px;
   width: 80px;
   border-radius: 5px;
   border: solid 1px lightgray;
   color: black;
   cursor: pointer;
}

// .signin-link {
//    color: black;
//    text-decoration: none;
// }

.icons {
    zoom: 1.5;
    display: flex;
    right: 50%;
    margin-top: 6%;
    // align-items: center;
    // justify-content: space-around;
}

.sign-out-button {
    background-color: transparent;
        height: 20px;
//     width: 45%;
    border-radius: 5px;
    border: solid 1px lightgray;
    color: black;
    cursor: pointer;
 }
 
 .greeting {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 14px;
 }
