.signup-button {
    background-color: #247f9e;
    height: 35px;
    width: 80px; 
    border-radius: 5px; 
    margin: 5px 5px 5px 5px;
    color: whitesmoke;
}

// .signup-link {
//    color: whitesmoke;
//    text-decoration: none;
// }

.signin-button {
   background-color: whitesmoke;
   height: 35px;
   width: 80px;
   border-radius: 5px;
   color: black;
}

// .signin-link {
//    color: black;
//    text-decoration: none;
// }
