.form-body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 10px lightgray;
}

.form-header {
    margin-left: 16%;
    margin-top: 3.5%;
    color: black;
}

.form-display {
    margin-top: -2.5%;
    margin-left: 4%;
    margin-right: 3.5%;
    border-top: 1px solid lightgrey;
    padding-top: 12%;
}

.reservation-input {
    height: 30px;
    border: solid 1px gray;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;

}

.reservation-button {
    height: 50px;
    width: 90%;
    color: whitesmoke;
    background-color: #da3743;
    border: solid 1px #da3743;
    border-radius: 5px;
    margin-left: 5%;
    margin-bottom: 8%;
    font-size: 18px;
    cursor: pointer;
}

.reservation-button:hover {
    background-color: #b8222d;
}

.party, .date, .time {
    font-size: 14px;

}

.party-box, .date-box, .time-box {
    width: 61%;
    border: solid 1px gray;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.party-box:hover, .date-box:hover, .time-box:hover {
    border-bottom: solid 2px #da3743;
}

.reservation-form {
    position: absolute;
    width: 320px;
    top: 269.5px;
    right: 279px;
}
