.cancel-content {
    margin-left: 30%;
    margin-top: 8%;
}

.cancel-icon {
    color: red;
    margin-right: 0.5%;
    margin-bottom: -.55%;
    zoom: -1;
}

.home-link {
    margin-left: 30%;

    display: block;
    font-size: 1.17em;
    // margin-block-start: 1em;
    margin-block-end: 1em;
    // margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray; 
    text-decoration: none;
}

.home-link:hover {
    color: gray;
}
