
.confirm-photo {
    object-fit: cover;
    width: 15%;
    height: 40%;
    border-radius: 4px;
    margin-left: 20%;
    margin-top: 3%;
}

.confirm-all {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 4px;
}

.toptwo {
    display: flex;
}

.confirm-details {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 1%
}

.confirm-icon {
    color: green;
    zoom: 1.25;
}

.user-icon {
    zoom: 1.25;
    padding-right: 3%;
    // margin-bottom: -8%;
}
.user {
    // width: 45px;
    padding-right: 3%;
    padding-top: 1%;
}

.date-icon {
    zoom: 1.25;
    padding-right: 3%;
    // margin-bottom: -7%;
}

.date {
    // width: 120px;
    // top: 100%;
    // line-height: 80%;
    padding-top: 1%;
    padding-right: 3%;
    white-space: nowrap;
}

.time {
    // margin-top: 6.5px;
    width: 85px;
    padding-top: 1%;

}

.three-icons {
    display: flex;
    // justify-content: space-between;
    margin-top: 5%;
    font-weight: 600;
}

.helpers {
    display: flex;
    margin-top: 30px;
    padding-left: 20%;
}

.browse-all, .direct-all {
    display: flex;
    padding-left: 15%;
}

.browse-words {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.browse-menu, .get-direct {
    text-align: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
    font-size: 14px;
}

.get-direct {
    padding-top: 25px;
}

.rest-profile {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 14px;
    padding-top: 5px;
}

.browse, .directions {
    border: solid 1px lightgrey;
    border-radius: 5px;
    height: 70px;
    width: 260px;
    background-color: transparent;
    box-shadow: 0px 1px 10px lightgray;
    cursor: pointer;
    // float: left;
    // margin-left: -260px;
    padding-right: 20px;
}

.browse:hover, .directions:hover {
    background-color: #f1f2f4;
}

.browse-icon {
    zoom: 3.5;
    color: #da3743;
    padding-right: 5%;
}

.direct-icon {
    zoom: 3;
    color: #da3743;
    padding-top: 8%;
    padding-right: 10%;

}

.browse-link {
    padding-right: 20px;
}

.cancel {
    color: #da3743;
    margin-top: 5%;
    cursor: pointer;
    width: 50px;
    border-right: solid 1px lightgray;
    border-left: solid 1px lightgray;
    padding-left: 5px;
    padding-right: 5px;
}

.bottom-details {
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding-left: 20%;
    width: 500px;
}

// .bottom-details span {
//     text-align: center;
// }