.rev-index-body {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-bottom: 1px solid;
    border-color: lightgray;
    // border-radius: 5px;
    // margin-bottom: 2%;
    transition: .5s;
    // max-width: 100%;
    // height: 177.5px;
    height: 100%;
    width: 100%;
    padding-top: 20px;
}

.badge-stuff {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.badge-circle {
    background-color: #6c8ae4;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    // background-color: random {
    //     15% { red; }, 
    //     30% { background-color: yellow; }, 
    //     45% { background-color: green; }, 
    //     60% { background-color: blue; },
    //     75% { background-color: white; },  
    // }
}

.initial {
    padding-left: 33%;
    padding-top: 28%;
    font-weight: 500;
    font-size: 24px;
}

.rev-nickname {
    padding-top: 15%;
    margin-left: -18px;
    width: 100px;
    word-break: break-word;
    font-weight: 500;
    color: black;
    text-align: center;
}

.rev-location {
    color: darkslategray;
    white-space: nowrap;
    padding-top: 15%;
    margin-left: -18px;
    font-weight: 500;
    text-align: center;

}

.rev-count {
    color: darkslategray;
    white-space: nowrap;
    padding-top: 15%;
    margin-left: -18px;
    font-size: 12px;
    text-align: center;
    padding-bottom: 15px;
}

.rev-content {
    display: flex;
    flex-direction: column;
    padding-left: 37.5px;
}

.rev-categories {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    color:black;
    font-weight: 550;
    font-size: 15px;
}

.rev-categories span {
    padding-right: 8px;
}

.rev-categories p {
    color: #da3743;
    font-weight: 550;
    font-size: 15px;
    padding-right: 5px;
}

.rev-textbody {
    padding-top: 4%;
    line-height: 25px;
    word-break: break-word;
    padding-bottom: 20px;
}

.rev-action {
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
    // position: relative;
}

.rev-edit-link, .rev-delete-link {
    text-decoration: none;
    cursor: pointer;
    color: #da3743;
    padding-right: 10px;
    padding-left: 10px;
    border-left: 1px solid lightgrey;
}
