.poor {
    display: none;
}

// StarRatings:hover {
//     .poor {
//         display: block;
//     }
// }
div::title:hover {
    .poor {
        display: block;
    }
}

.review-form {
    display: flex;
    flex-direction: column;
    // align-items: center;
    text-align: center;
    margin-left: 31%;
    margin-right: 31%;
}

.review-form h2 {
    color: black;
}

.review-form h3 {
    font-size: 14px;
    font-weight: 500;
}

.categories {
    padding-right: 3%;
    // padding-left: 25%;
    // padding-top: 3%;
    font-weight: 550;
    // float: left;
}

// .stars {
//     align-items: left;
// }

.body-box {
    border: solid 1px gray;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    resize: none;
    outline: none;
}

textarea {
    padding-top: 10px;
    padding-left: 5px;
}

#count {
    float: right;
    color: gray;
}

#min-text {
    float: left;
    color: gray;
}

#nick {
    width: 99%;
    height: 50px;
    outline: none;

}

.review-button {
    border: solid 1px;
    border-radius: 4px;
    height: 50px;
    width: 12vw;
    // margin-right: 70px;
    // margin-left: 5px;
    background-color: #da3743;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.review-button:hover {
    background-color: #b8222d;
}

// textarea::placeholder {
//     padding-top: 10px;
//     padding-left: 5px;
// }