.session-button {
    height: 40px;
    width: 97.5%;
    color: whitesmoke;
    background-color: #da3743;
    border: solid 1px #da3743;
    border-radius: 5px;
    cursor: pointer;
}

.demo-session-button {
    height: 40px;
    width: 97.5%;
    color: #da3743;
    background-color: lightgray;
    border: solid 1px #da3743;
    border-radius: 5px;
    cursor: pointer;
}


.session-input {
    height: 35px;
    width: 95%;
    border: solid 1px gray;
    border-radius: 5px;

}

.session-switch-button {
    color: whitesmoke;
    background-color: #da3743;
}

.modal-x {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 20px;
    font-weight: 300;
}

.form-inputs {
    zoom: 125%;
}

// .session-switch-link {
//     text-decoration: none;
//     color: #da3743;
// }