.session-button {
    height: 35px;
    width: 175px;
    color: whitesmoke;
    background-color: #da3743;
    border-radius: 5px;
}

.session-input {
    height: 35px;
    width: 175px;
}

.session-switch-link {
    text-decoration: none;
    color: #da3743;
}