.user-nav {
    display: flex;
    flex-direction: column;
    border-top: 1px solid;
    border-color: #ededed;
}

.user-name {
    margin-left: 17.5%;
}

.res-link, .sav-link {
    text-decoration: none;
    margin-left: 17.5%;
} 

.sav-link h3 {
    font-size: 14px;
    font-weight: 250;
} 

.res-link h3 {
    font-size: 14px;
}

.res-link h3:hover, .sav-link h3:hover {
    color: #da3743;
}
